@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
    --green:#3c5;
    --ligth:#5d8;
    background: var(--green);
    font-family: 'Merriweather Sans', sans-serif;
}

/*---- Le terrain ----*/
body{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 80vmin;
    height: 50vmin;
    border:0.5vmin solid white;
    background-image: 
    radial-gradient(circle at 0% 0%, transparent 1%, white 0 1.5%, transparent 0),
    radial-gradient(circle at 0% 100%, transparent 1%, white 0 1.5%, transparent 0),
    radial-gradient(circle at 100% 0%, transparent 1%, white 0 1.5%, transparent 0),
    radial-gradient(circle at 100% 100%, transparent 1%, white 0 1.5%, transparent 0),
    radial-gradient(circle at 50% 50%, white 1%, transparent 0),
    radial-gradient(circle at 50% 50%, transparent 14%, white 0% 14.75%, transparent 0),
    radial-gradient(circle at 16% 50%, transparent 10%, white 0% 10.5%, transparent 0),
    radial-gradient(circle at 84% 50%, transparent 10%, white 0% 10.5%, transparent 0),
    linear-gradient(to right,transparent 49.75%, white 0 50.25%, transparent 0),
    repeating-linear-gradient(to right, var(--green)0 10%, var(--ligth)0 20%);
}

body::before{
    content: "";
    display:block;
    position: absolute;
    width: 7%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    height: 25%;
    background:var(--green);
    box-shadow: 
    inset 0 0 0 5vmin var(--green),
    0 0 0 0.35vmin white,
    1.2vmin 0 0 1.2vmin var(--green),
    1.2vmin 4vmin 0 1.2vmin var(--green),
    1.2vmin -4vmin 0 1.2vmin var(--green),
    5.2vmin 0 0 5.2vmin var(--ligth),
    5.2vmin 0 0 5.5vmin white,

    74.5vmin 0 var(--ligth),
    74.5vmin 0 0 0.35vmin white,
    73.3vmin 0 0 1.2vmin var(--ligth),
    73.3vmin 4vmin 0 1.2vmin var(--ligth),
    73.3vmin -4vmin 0 1.2vmin var(--ligth),
    69.2vmin 0 0 5.2vmin var(--green),
    69.2vmin 0 0 5.5vmin white,

    /*---- Les filets -----------*/
    -4vmin 0 0 rgba(0, 0, 0, 0.139),
    78.5vmin 0 0 rgba(0, 0, 0, 0.139)
    ;
}
body::after{
    content: "";
    display: block;
    white-space: pre;
    position: absolute;
    border-radius: 50%;

    height: 2.5vmin;
    width: 2.5vmin;
    color: white;
    left:50%;
    top:-7.5%;
    transform:translate(-50%,-50%);
    box-shadow: 
    -29vmin 29vmin 0 -0.7vmin white,
    29vmin 29vmin 0 -0.7vmin white,

    /*------ Les joueurs de gauche -------*/

    -38vmin 29vmin #f25, /* le gardien */
    -29vmin 45vmin rgba(14, 100, 176, 0.79),
    -29vmin 10vmin rgba(14, 100, 176, 0.79),
    -15vmin 17vmin rgba(14, 100, 176, 0.79),
    -15vmin 30vmin rgba(14, 100, 176, 0.79),
    -25vmin 20vmin rgba(14, 100, 176, 0.79),
    -24vmin 30vmin rgba(14, 100, 176, 0.79),

    /*---- Les joueurs de droite --------*/
    
    38vmin 29vmin yellow,/* le gardien */
    29vmin 20vmin,
    0vmin 0vmin

    ;
}

.score{
    position: relative;
    bottom:25%;
    left:25%;
    transform: translate(-15%,-50%);
}

/*---- Le tableau de bord ----*/

.score input{
    font-size: 6vmin;
    height: 10vmin;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 2px 0px 13px rgba(14, 14, 14, 0.75);
    -webkit-box-shadow: 1px 2px 0px 13px rgba(8, 8, 8, 0.75);
    -moz-box-shadow: 1px 2px 0px 13px rgba(165, 162, 162, 0.75);
    background-color:rgba(0, 0, 0, 0.701);;
    border: none;
    line-height: normal;
    overflow: hidden;
    color: white;
}

.balle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)

}